.footerBackground{
    /* background:linear-gradient(-45deg,#484b4b 0%,#303030 100%); */
    background-color: #EEEEEE;
}

.footer{    
    /* color:white; */
    font-size: 14px;
    line-height: 2rem;
    margin: 0;
}

.footer > div > *{
    margin-top: 5%;
}

.footerNav > li{
    /* width: 20%; */
    float: left;
    margin-left: 3%;
}

.footerLogo,.footerInfor,.copyRight{
    margin-top: 1em;
}

.footer-box > .glyphicon{
    display: inline-block;
    font-size: 3em;
    padding: 15% 0;
    background-image: -webkit-gradient(linear, left center, right center, from(#fc4c10), to(#fc8255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyRight{
    font-size: 12px;
    margin-bottom: 1rem;
}

@media (max-width:1024px){
    .footerInfor > .address{
        font-size: 14px;
    }
}