*{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header,
.row {
    margin: 0;
    padding: 0;
}

/* a */
/* a:hover{
    color: white;
} */

.container-fluid,
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

ul.text-center li{
    text-align: center;
}

.navbar-toggle {
    background: none;
    border: none;
}

.navbar {
    margin: 10px auto;
}

.navbar.navbar-default {
    background: none;
    border: none;
}

.nav.navbar-nav li a {
    color: #444;
    font-size: 16px;
    /* font-weight: bold; */
    line-height: 30px;
}

.nav.navbar-nav li a:hover {
    color: #1A7BBF;
}

.company_introduction {
    background-color: #efefef;
}


.hotel {
    padding-top: 5%;
    padding-bottom: 5%;
}

.project {
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    /* background-image: url(../images/description/home/technology_chip.jpg) */
}
.hotel{
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    background-image: url(../images/description/home/description.png);
}
.advantage.title{
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.3);
}

.bennefits>.title {
    margin-bottom: 5%;
}

.system_text{
    margin-top: 10%;
}
.system_text>h1{
    font-size: 66px;
}
.system_text>h2{
    font-size: 60px;
}
.system.box{
    background-color: rgba(0, 0, 0, 0.5);
}
.system_text,
.system.box>.phoneImg {
    padding-top: 3%;
    padding-bottom: 3%;
}
.support_box{
    line-height: 2em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.cooperationBrand{
    padding-top: 3%;
}


/* selecte row&col */
/* .hotelList>.col-md-2,
.hotelList>.col-xs-3 {
    padding: 0;
} */

/* jumbotron */
.jumbotron {
    margin-bottom: 0;
    padding: 15% 0 8%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'pmzdcushuti'; */
    text-align: center;
    min-height: 240px;
    position: relative;
    color: white;
    border-radius: 0px !important;
    background-position: center center;
    /* text-shadow: 3px 3px 2px #444444 */
}
.slogan{
    font-weight: bold;
}
h1.slogan,
.description{
    color: #010101;
}
.colorTitle{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #5EAFD2;
}

.company_name > small{
    color: white;
    text-shadow: none;
}

/* select Jumbotron image*/
.home.jumbotron{
    background-image: url(../images/introduction/homeJumbo.png);
}

.product.jumbotron{
    background-image: url(../images/introduction/productJumbo.jpg);
}

.company.jumbotron {
    background-image: url(../images/introduction/companyJumbo.jpg);
}

.cooperation.jumbotron {
    color: red;
    background-image: url(../images/introduction/cooperationJumbo.jpg);
    background-position: center 36%;
}

.news.jumbotron {
    background-image: url(../images/introduction/newsJumbo.jpg);
    background-position: center 70%;
}

.investment.jumbotron {
    background-image: url(../images/introduction/investmentJumbo.jpg);
    background-position: center 77%;
}

.about.jumbotron {
    background-image: url(../images/introduction/aboutJumbo.jpg);
}

.newsContectBox,
.newsText,
.newsList{
    height: 360px;
}
.contectText{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
    overflow: hidden;
}
.newsImg{
    height: 360px;
    overflow: hidden;
}
.newsImg img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.text_box > *{
    margin-bottom: 5%;
    line-height: 2em;
}
.titleCube.left{
    color: #e6b980;
}

.titleCube.center{
    color: #2d84cd;
}
.titleCube.right{
    color: #50a7c2;
}
.support_img{
    width: auto;
    max-height: 120px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.support_logo{
    width: auto;
    height: 158px;
}

.middle {
 
    float: none;
  
    display: inline-block;
  
    vertical-align: middle;
  
 }

 .clearBothPad{
    padding-left: 0;
    padding-right: 0;
}

/* @font-face{
    font-family: 'pmzdcushuti';
    src: url('../font/庞门正道粗书体.ttf');
} */

/* change img url */
.process>.white.box>img{
    content: url("../images/description/investment/PC1.jpg")
}
.process>.system.box>img{
    content: url("../images/description/investment/PCsystem.jpg")
}
.process>.white.box>.whiteMarket_mobile{
    content: url("#")
}
.process>.eight.box>img{
    content: url("../images/description/investment/PCeight.jpg")
}
.process>.eight.box>.eight_mobile{
    content: url("#")
}

@media (max-width:1024px) {
    .navbar {
        max-height: 30px;
        z-index: 999;
    }

    ul.nav {
        background: white;
    }

    .jumbotron.home{
        padding: 10% 0;
    }

    .slogan{
        /* font-family: 'pmzdcushuti'; */
        font-size: 30px ;
    }

    .imgBox>div {
        padding: 0;
        border: 1px solid white;
    }
    .advantage.support{
        padding: 0;
    }
    .support_img{
        max-height: 90px;
    }
    .support_logo{
        height: 128px;
    }
    .system_text>h1{
        font-size: 30px;
    }
    .system_text>h2{
        font-size: 26px;
    }
    .newsContectBox,
    .newsText,
    .newsList{
        height: auto;
    }

    /* change img url */
    .desmedia{
        content: url("../images/description/home/media.png");
    }
    .process>.white.box>img{
        content: url("../images/description/investment/Mobile1_1.jpg")
    }
    .process>.white.box>.whiteMarket_mobile{
        content: url("../images/description/investment/Mobile1_2.jpg")
    }
    .process>.system.box>img{
        content: url("../images/description/investment/MobileSystem.jpg")
    }
    .process>.eight.box>img{
        content: url("../images/description/investment/MobileEight_1.jpg")
    }
    .process>.eight.box>.eight_mobile{
        content: url("../images/description/investment/MobileEight_2.jpg")
    }
}