.product{
    position: relative;
    box-shadow: 0 5px 5px #aaaaaa;
}
.product>ul{
    margin-bottom: 0;
}
#RQ-900,#RQ-650{
    display: none;
}
.unline::after{
    content: "";
    display: block;
    margin:0 auto;
    width: 80%;
    height: 2px;
    background: #ff4400;
    opacity: 0;
}
.unline:hover::after{
    opacity: 1;
}

.description{
    background-color: #f9f9f9;
}
.productInfor{
    text-align: left
}
.productImg>img{
    display: none;
}
.value{
    margin-top: 5vh;
    line-height: 2em;
}
.value>.top{
    line-height: 3em;
}
.value>.top>.name{
    font-size: 26px;
    font-weight: bolder;
}

.value>.bottom{
    font-size: 16px;
    color: #aaaaaa;
    margin-top: 3%;
}

.productImg>.title::after{
    content: "";
    display: block;
    margin: 1vh auto 2vh;
    width: 10vw;
    height: 3px;
    border-radius: 20px;
    background: #ff4400;
}

@media (max-width:1024px) {
    .value>.bottom{
        font-size: 12px;
        margin-top: 0;
    }
}